<footer
	class="d-flex flex-wrap justify-content-center justify-content-md-end align-items-center px-3 py-4 mt-4 border-top"
>
	<p class="col-md-5 mb-0 text-body-secondary mb-4 mb-md-0">
		© {{ COPYRIGHT }}
	</p>
	<a
		href="/"
		class="col-md-3 d-inline-flex justify-content-md-center fs-5 fw-semibold text-decoration-none"
	>
		<img
			src="{{ url_for('static', filename='media/mail-list-shield-logo-badge-padded.png') }}"
			alt="Mail List Shield Email Validation Service"
			id="footer-logo"
		/>
	</a>
	<ul class="nav col-md-4 justify-content-md-end">
		<li class="nav-item">
			<a href="/app/" class="nav-link text-body-secondary">Home</a>
		</li>
		<li class="nav-item">
			<a href="/app/sample-page" class="nav-link text-body-secondary">
				Sample Page
			</a>
		</li>
	</ul>
</footer>
