<div
	id="sidebarMenu"
	class="d-flex flex-column flex-shrink-0 px-3 py-0 min-vh-100 offcanvas-md offcanvas-end border-end"
	style="width: 280px"
>
	<a
		href="/"
		class="d-inline-flex fs-5 pt-2 pb-4 my-3 border-bottom fw-semibold text-decoration-none"
	>
		<img
			src="{{ url_for('static', filename='media/mail-list-shield-logo.png') }}"
			alt="Mail List Shield Email Validation Service"
			class="header-logo logo-light"
		/>
		<img
			src="{{ url_for('static', filename='media/mail-list-shield-logo-dark-mode.png') }}"
			alt="Mail List Shield Email Validation Service"
			class="header-logo logo-dark"
		/>
	</a>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item mb-1">
			<a
				href="/app/"
				class="nav-link {% if path == '/' or path == 'index' %}active{% endif %}"
				aria-current="page"
			>
				<i class="bi bi-house me-2"></i>
				Home
			</a>
		</li>
		<li class="nav-item mb-1">
			<a
				href="/app/validate-new-list"
				class="nav-link {% if path == 'validate-new-list' %}active{% endif %}"
			>
				<i class="bi bi-info-circle me-2"></i>
				Validate New List
			</a>
		</li>
		<li class="nav-item mb-1">
			<a
				href="/app/account"
				class="nav-link {% if path == 'account' %}active{% endif %}"
			>
				<i class="bi bi-person me-2"></i>
				My Account
			</a>
		</li>
		<li class="nav-item mb-1">
			<a
				href="/app/billing"
				class="nav-link {% if path == 'billing' %}active{% endif %}"
			>
				<i class="bi bi-wallet2 me-2"></i>
				Billing
			</a>
		</li>
		{% if current_user.role == 'admin' %}
			<hr />
			<li class="nav-item mb-1">
				<a
					href="/app/admin"
					class="nav-link {% if path == 'admin' %}active{% endif %}"
				>
					<i class="bi bi-person me-2"></i>
					Admin
				</a>
			</li>
			<li class="nav-item mb-1">
				<a
					href="/app/admin/email"
					class="nav-link {% if path == 'email' %}active{% endif %}"
				>
					<i class="bi bi-person me-2"></i>
					View Email Templates
				</a>
			</li>
		{% endif %}
	</ul>
	<hr class="mb-0" />
	<div id="sidebarBottom">
		<div class="dropdown">
			<a
				href="#"
				class="d-flex align-items-center text-decoration-none dropdown-toggle"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				<img
					src="{{ current_user.avatar() }}"
					alt="avatar"
					width="32"
					height="32"
					class="rounded-circle me-2"
				/>
				<span>{{ current_user.firstName }}</span>
			</a>
			<ul class="dropdown-menu text-small">
				<li>
					<a class="dropdown-item" href="/app/account">My Account</a>
				</li>
				<li><hr class="dropdown-divider" /></li>
				<li><a class="dropdown-item" href="/logout">Log out</a></li>
			</ul>
		</div>
	</div>
</div>
