{
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "none",
	"plugins": ["prettier-plugin-jinja-template"],
	"overrides": [
		{
			"files": ["*.html"],
			"options": {
				"parser": "jinja-template"
			}
		}
	]
}
