{% set page_title = "Password Reset Requested" %}
{% extends "public/layouts/auth.html" %}
{% block content %}
	<!--  -->
	<form method="post">
		<a
			href="/"
			class="d-block w-100 mb-4 col-md-4 text-center fs-3 fw-semibold text-decoration-none"
			tabindex="-1"
		>
			<img
				src="{{ url_for('static', filename='media/mail-list-shield-logo.png') }}"
				alt="Mail List Shield Email Validation Service"
				class="mobile-logo header-logo logo-light mx-auto"
			/>
			<img
				src="{{ url_for('static', filename='media/mail-list-shield-logo-dark-mode.png') }}"
				alt="Mail List Shield Email Validation Service"
				class="mobile-logo header-logo logo-dark mx-auto"
			/>
		</a>
		<h2 class="h4 mt-5 mb-3 fw-normal text-center">Success</h2>

		{% include 'shared-components/flash-alerts.html' %}

		<p class="text-center">
			We will send a password reset link to this email if it is found our
			records.
		</p>
		<p class="text-center mb-5">
			Please follow the link in your inbox. You can close this tab.
		</p>
	</form>
{% endblock content %}
