{% set page_title = "Two-Factor Authentication" %}
<!--  -->
{% extends "public/layouts/auth.html" %}
<!--  -->
{% block content %}
<!--  -->
<form method="post">
	<a
		href="/"
		class="d-block w-100 mb-4 col-md-4 text-center fs-3 fw-semibold text-decoration-none"
		tabindex="-1"
	>
		<img
			src="{{ url_for('static', filename='media/mail-list-shield-logo.png') }}"
			alt="Mail List Shield Email Validation Service"
			class="mobile-logo header-logo logo-light mx-auto"
		/>
		<img
			src="{{ url_for('static', filename='media/mail-list-shield-logo-dark-mode.png') }}"
			alt="Mail List Shield Email Validation Service"
			class="mobile-logo header-logo logo-dark mx-auto"
		/>
	</a>
	<h2 class="h4 mb-3 fw-normal text-center">Two-Factor Authentication</h2>
	{% include 'shared-components/flash-alerts.html' %}
	<p class="mb-3">Type the 6 digit code from your authenticator app:</p>
	<!--  -->
	{% include 'public/auth/auth_components/two-factor-auth-fields.html' %}
</form>
{% endblock content %}
