<div class="container">
	<footer class="py-5">
		<div
			class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top"
		>
			<div class="col mb-3 text-center text-sm-start">
				<a href="/" class="fs-5 fw-semibold mb-3 text-decoration-none">
					<img
						src="{{ url_for('static', filename='media/mail-list-shield-logo.png') }}"
						alt="Mail List Shield Email Validation Service"
						class="footer-logo logo-light mx-auto float-sm-start"
					/>
					<img
						src="{{ url_for('static', filename='media/mail-list-shield-logo-dark-mode.png') }}"
						alt="Mail List Shield Email Validation Service"
						class="footer-logo logo-dark mx-auto float-sm-start"
					/>
				</a>
			</div>
			<div class="col mb-3"></div>
			<div class="col mb-3 text-center text-sm-start">
				<h5>Company</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-body-secondary">
							About
						</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-body-secondary">
							Products
						</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-body-secondary">
							Pricing
						</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-body-secondary">
							Solutions
						</a>
					</li>
				</ul>
			</div>
			<div class="col mb-3 text-center text-sm-start">
				<h5>Legal</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-body-secondary">
							Security
						</a>
					</li>
					<li class="nav-item mb-2">
						<a
							href="/terms-of-service"
							class="nav-link p-0 text-body-secondary"
						>
							Terms of Service
						</a>
					</li>
					<li class="nav-item mb-2">
						<a
							href="/privacy-policy"
							class="nav-link p-0 text-body-secondary"
						>
							Privacy Policy
						</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-body-secondary">
							Cookie Policy
						</a>
					</li>
				</ul>
			</div>
			<div class="col mb-3 text-center text-sm-start">
				<h5>Resources</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-body-secondary">
							Guides
						</a>
					</li>
					<li class="nav-item mb-2">
						<a
							href="https://www.postman.com/maillistshield-team/mail-list-shield-api-reference/overview"
							class="nav-link p-0 text-body-secondary"
						>
							API Reference
						</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-body-secondary">
							FAQs
						</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-body-secondary">
							Sitemap
						</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-body-secondary">
							Support
						</a>
					</li>
					<li class="nav-item mb-2">
						<a
							href="https://status.maillistshield.com/status/maillistshield"
							class="nav-link p-0 text-body-secondary"
							target="_blank"
						>
							System Status
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div
			class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
		>
			<p class="col-md-8 mb-0 text-body-secondary">
				© {{ COPYRIGHT }} by Cansin Acarer. All rights reserved.
			</p>
			<ul class="list-unstyled d-flex">
				<li class="ms-3">
					<a
						class="link-body-emphasis text-decoration-none"
						href="#"
						target="_blank"
					></a>
				</li>
			</ul>
		</div>
	</footer>
</div>
