<div class="container">
	<header
		class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
	>
		<div class="col-md-3 mb-2 mb-md-0">
			<a
				href="/"
				class="d-inline-flex fs-5 fw-semibold text-decoration-none"
			>
				{{ APP_NAME }}
			</a>
		</div>

		<ul
			class="nav nav-masthead col-12 col-md-auto mb-2 justify-content-center mb-md-0"
		>
			<li class="nav-item px-2">
				<a
					class="nav-link {% if path == '/' or path == 'index' %}active{% endif %}"
					aria-current="page"
					href="/"
				>
					Home
				</a>
			</li>
			<li class="nav-item px-2">
				<a
					class="nav-link {% if path == 'sample-page' %}active{% endif %}"
					href="/sample-page"
				>
					Sample Page
				</a>
			</li>
		</ul>
		<!-- If logged in -->
		{% if current_user.is_authenticated %}
		<div class="text-end">
			<ul class="nav align-items-center">
				{% include
				'shared-components/dark-mode-selector-nav-list-item.html' %}
				<li class="nav-item pe-4">
					Hello, {{ current_user.firstName }}!
				</li>
				<li class="nav-item">
					<a
						href="#"
						class="d-block link-body-emphasis text-decoration-none"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						<img
							src="{{ current_user.avatar() }}"
							alt="avatar"
							width="32"
							height="32"
							class="rounded-circle me-2"
						/>
					</a>
					<ul class="dropdown-menu dropdown-menu-end text-small">
						<li>
							<a class="dropdown-item" href="/app">
								Launch the App
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="/app/account">
								My Account
							</a>
						</li>
						<li><hr class="dropdown-divider" /></li>
						<li>
							<a class="dropdown-item" href="/logout">Log out</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- If anonymous user -->
		{% else %}
		<div class="col-md-3 text-end">
			{% include 'shared-components/dark-mode-selector-button.html' %}
			<a
				href="/login"
				role="button"
				class="btn btn-outline-primary me-2 m-sm-2"
			>
				Login
			</a>
			<a href="/register" role="button" class="btn btn-primary">
				Register
			</a>
		</div>
		{% endif %}
	</header>
</div>
