{% set page_title = "Billing" %}
{% extends "private/layouts/base.html" %}
{% block content %}
	<h2 class="h4 border-bottom mt-5 my-3 pb-2">Credit Balance</h2>

	<p>You have {{ "{:,}".format(current_user.credits) }} credits.</p>

	<form
		method="post"
		action="{{ url_for("views_private.billing") }}/purchase-credits"
	>
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
		<div class="form-floating mb-3">
			<input
				class="form-control"
				id="numberOfCredits"
				name="numberOfCredits"
				required=""
				type="number"
				value="100"
			/>
			<label for="numberOfCredits">Number of credits to purchase</label>
		</div>
		<input class="btn btn-primary" type="submit" value="Purchase Credits" />
	</form>

	<h2 class="h4 border-bottom mt-5 my-3 pb-2">Subscription Details</h2>

	<p>You are currently on the {{ current_user.tier.label }} plan.</p>
	{% if current_user.tier.name != 'free' %}
		<form
			method="post"
			action="{{ url_for("views_private.billing") }}/billing-portal"
		>
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			<input
				class="btn btn-primary"
				type="submit"
				value="Manage Billing"
			/>
		</form>
	{% else %}
		<p>Upgrade to:</p>
		<form
			method="post"
			action="{{ url_for("views_private.billing") }}/checkout"
		>
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			{% for tier in tiers %}
				{% if tier.name != 'free' %}
					<div class="form-check mb-3">
						<input
							class="form-check-input"
							type="radio"
							name="tier"
							id="{{ tier.name }}"
							value="{{ tier.name }}"
						/>
						<label class="form-check-label" for="{{ tier.name }}"
							>{{ tier.label }}</label
						>
					</div>
				{% endif %}
			{% endfor %}
			<input class="btn btn-primary" type="submit" value="Subscribe" />
		</form>
	{% endif %}

	<h2 class="h4 border-bottom mt-5 my-3 pb-2">Payment History</h2>
	{% if charges.data %}
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col" class="text-center">Date</th>
						<th scope="col" class="text-center">Time</th>
						<th scope="col" class="text-center">Description</th>
						<th scope="col" class="text-center">Amount</th>
						<th scope="col" class="text-center">Status</th>
						<th scope="col" class="text-center">Invoice ID</th>
						<th scope="col" class="text-center">Receipt</th>
					</tr>
				</thead>
				<tbody>
					{% for charge in charges.data %}
						<tr>
							<td class="text-center">
								{{ charge.created | dateformat }}
							</td>
							<td class="text-center">
								{{ charge.created | timeformat }}
							</td>
							<td class="text-center">
								{{ charge.description }}
							</td>
							<td class="text-center">
								{{ charge.amount / 100 }}
								<span class="text-uppercase"
									>{{ charge.currency }}</span
								>
							</td>
							<td class="text-center text-capitalize">
								{{ charge.status }}
							</td>
							<td class="text-center">{{ charge.id }}</td>
							<td class="text-center">
								<a
									href="{{ charge.receipt_url }}"
									class="btn btn-success btn-sm"
									>View Receipt</a
								>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<i
				>Only the 100 most recent payments are shown. Please contact us
				if you need any information about your older payments.</i
			>
		</div>
	{% else %}
		<p>No payment history.</p>
	{% endif %}
{% endblock content %}
