/* Public Styles */
.nav-masthead .nav-link {
	color: var(--bs-body-color);
	border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	border-bottom-color: var(--bs-body-color);
}

.nav-masthead .nav-link + .nav-link {
	margin-left: 1rem;
}

.nav-masthead .active {
	color: var(--bs-body-color);
	border-bottom-color: var(--bs-body-color);
}

#header-logo {
	width: 120px;
	margin: 10px 0;
}

#footer-logo {
	width: 100px;
}

/* Home page */
#jumbotron {
	/* color: #505050; */
}

#jumbotron #emailToValidate:focus {
	box-shadow: none;
}

.colorful-text {
	background-image: url(/static/media/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: text;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
}

#demoResultsTable td,
#demoResultsTable th {
	width: 50%;
}

#demoResultsTable,
#demoAPIResponse {
	width: 80%;
	overflow: hidden;
}
