/* Shared Styles */

/* Show the logo that matches the color mode */
[data-bs-theme="dark"] .logo-dark,
[data-bs-theme="light"] .logo-light {
	display: block;
}

/* Hide alternative color logos */
[data-bs-theme="light"] .logo-dark,
[data-bs-theme="dark"] .logo-light {
	display: none;
}

/* Sentence case */
.text-sentence-case {
	text-transform: lowercase;
}

.text-sentence-case:first-letter {
	text-transform: capitalize;
}

.text-lowercase::first-letter {
	text-transform: lowercase;
}

/* Brand green */
.bg-mls-green {
	background-color: #5dbd7d;
}

[data-bs-theme="dark"] .bg-mls-green {
	background-color: #327655;
}

/* Don't allow for label text to be selected */
.form-check-label {
	user-select: none;
}

.no-select {
	user-select: none;
}
