<div class="container">
	<div class="row">
		<div class="col-md-12 px-0">
			<h5 class="border-bottom pb-2">Step 1/4: Select file</h5>
			<div
				id="dropzone"
				class="border-dashed-thick rounded p-5 text-center"
			>
				<p class="no-select m-0">
					Drag & drop a CSV file here or click to upload
				</p>
				<input
					type="file"
					id="csvFileInput"
					name="csvFileInput"
					class="d-none"
					multiple="false"
				/>
			</div>
			<p id="fileName" class="mt-2"></p>
			<div id="fileDetails" class="d-none">
				<h5 class="mt-5 border-bottom pb-2">Step 2/4: Preview</h5>
				<p>
					Please review the preview below to ensure that your file is
					shown as expected:
				</p>
				<div id="filePreview" class="mt-4"></div>
				<h5 class="mt-5 border-bottom pb-2">
					Step 3/4: Data selection
				</h5>
				<div class="form-check form-switch mt-4">
					<input
						class="form-check-input"
						type="checkbox"
						role="switch"
						id="tableHeadersToggleSwitch"
						name="tableHeadersToggleSwitch"
					/>
					<label
						class="form-check-label fw-bold"
						for="tableHeadersToggleSwitch"
					>
						My table has column labels on the first row
					</label>
					<br />
					<small>
						<i>
							Enabling this option will exclude the first row of
							your file from validation.
						</i>
					</small>
				</div>
				<div>
					<p class="mb-2 mt-4 fw-bold">
						Please select the column containing the email addresses:
					</p>
					<div id="columnList"></div>
				</div>
				<h5 class="mt-5 border-bottom pb-2">Step 4/4: Confirmation</h5>
				<p class="mt-4">
					Estimated cost of validating the emails in this file is
					<b>
						<span id="fileValidationCost"></span>
						credits
					</b>
					.
				</p>
				<div class="d-grid gap-2">
					<button
						class="btn btn-primary"
						id="submitFileForValidation"
					>
						<span
							class="loading spinner-border spinner-border-sm d-none"
							aria-hidden="true"
						></span>
						<span class="text">Submit File for Validation</span>
					</button>
				</div>
				<div class="mt-4">
					<div
						class="progress d-none"
						id="progressContainer"
						role="progressbar"
					>
						<div
							class="progress-bar"
							id="progressBar"
							style="width: 0%"
						></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.border-dashed-thick {
		border: 4px dashed var(--bs-border-color);
		cursor: pointer;
	}
</style>
<script
	defer
	src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"
></script>
<script
	defer
	src="{{ url_for('static', filename='js/validation-of-batch-file.js') }}"
></script>
