<!-- Modal HTML Template -->
<div
	class="modal fade"
	id="alertModal"
	tabindex="-1"
	aria-labelledby="alertModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-white" id="alertModalLabel"></h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-primary"
					data-bs-dismiss="modal"
				>
					<span class="buttonText"></span>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal JS -->
<script defer>
	// Function to show the modal with dynamic content
	function showAlert(title, message, buttonText = "OK", type = "primary") {
		// Set the alert title
		document.getElementById("alertModalLabel").innerText = title;

		// Set the alert message
		document.querySelector("#alertModal .modal-body").innerHTML = message;

		// Set the button text
		document.querySelector("#alertModal .buttonText").innerText =
			buttonText;

		// Set the alert title color
		document.querySelector(
			"#alertModal .modal-header"
		).className = `modal-header bg-${type}`;

		// Show the modal
		var alertModal = new bootstrap.Modal(
			document.getElementById("alertModal")
		);
		alertModal.show();
	}
</script>
