<pre class="m-0"><code class="language-json">{
  "account": "support+usa",
  "account_alias_stripped": "support",
  "domain": "deloitte",
  "domain_age": 10790,
  "email": "support+usa@deloitte.com",
  "email_alias_stripped": "support@deloitte.com",
  "email_provider": "microsoft",
  "email_security_gateway": "cisco ironport",
  "fqdn": "deloitte.com",
  "has_catch_all": false,
  "has_mx_records": true,
  "is_alias": true,
  "is_disposable": false,
  "is_free_provider": false,
  "is_likely_spam_trap": false,
  "is_mailbox_full": false,
  "is_role": true,
  "is_valid_syntax": true,
  "smtp_provider_host": "mx1.hc5291-32.iphmx.com",
  "smtp_provider_host_domain": "iphmx",
  "smtp_provider_host_tld": "com",
  "smtp_provider_ip": "216.71.141.159",
  "smtp_provider_ip_ptr": "esa.hc5291-32.iphmx.com",
  "status": "invalid",
  "status_detail": "email provider confirmed that email address does not exist",
  "subdomain": "",
  "tld": "com"
}</code></pre>
