<pre><code class="language-json">{
  "account": "contact+media",
  "account_alias_stripped": "contact",
  "autodiscover_domain": "",
  "autodiscover_host": "",
  "autodiscover_host_tld": "",
  "domain": "mozilla",
  "domain_age": 10974,
  "email": "contact+media@mozilla.com",
  "email_alias_stripped": "contact@mozilla.com",
  "email_provider": "google",
  "email_security_gateway": "",
  "fqdn": "mozilla.com",
  "has_mx_records": true,
  "is_alias": true,
  "is_catch_all": true,
  "is_catch_all_test": false,
  "is_disposable": false,
  "is_free_provider": false,
  "is_mailbox_full": false,
  "is_role": false,
  "is_valid_syntax": true,
  "phrase_matches": [],
  "smtp_provider_host": "aspmx.l.google.com",
  "smtp_provider_host_domain": "google",
  "smtp_provider_host_tld": "com",
  "smtp_provider_ip": "142.250.101.27",
  "smtp_provider_ip_ptr": "dz-in-f27.1e100.net",
  "status": "valid",
  "status_detail": "email provider confirmed that the email address is deliverable",
  "subdomain": "",
  "tld": "com"
}</code></pre>
