{% set page_title = "Cookie Policy" %}
<!--  -->
{% extends "public/layouts/base.html" %}
<!--  -->
{% block content %}
	<div class="container my-5">
		<h1>Cookie Policy</h1>
		<p>Effective Date: August 18, 2024</p>

		<h3>1. Introduction</h3>

		<p>
			This Cookie Policy explains how HC Digital Solutions Inc. (“we”,
			“us”, or “our”) uses cookies and similar technologies on our
			website. We use these technologies to improve your browsing
			experience, analyze site traffic, and personalize content. By using
			our website, you consent to our use of cookies in accordance with
			this policy.
		</p>

		<h3>2. What are Cookies?</h3>

		<p>
			Cookies are small text files that are placed on your device when you
			visit a website. They are widely used to make websites work more
			efficiently and provide information to website owners.
		</p>

		<h3>3. Types of Cookies We Use</h3>

		<p>
			We use the following types of cookies:<br />a) Essential Cookies:
			These are necessary for the website to function properly and cannot
			be switched off.<br />b) Performance Cookies: These help us
			understand how visitors interact with our website by collecting and
			reporting information anonymously.<br />c) Functionality Cookies:
			These allow the website to remember choices you make and provide
			enhanced, more personal features.<br />d) Targeting Cookies: These
			cookies may be set through our site by our advertising partners to
			build a profile of your interests and show you relevant ads on other
			sites.<br />e) Authentication Cookies: These are used to identify
			you when you log in to our website using third-party authentication
			providers.<br />f) Payment Processing Cookies: These are necessary
			for processing payments through our third-party payment processors.
		</p>

		<h3>4. How We Use Cookies</h3>

		<p>We use cookies to:</p>

		<ul class="wp-block-list">
			<li>Understand and save user preferences for future visits</li>

			<li>
				Compile aggregate data about site traffic and site interactions
			</li>

			<li>Improve our website and services</li>

			<li>Provide a better browsing experience</li>

			<li>Enable certain functions of the service</li>

			<li>Provide social media features</li>

			<li>Facilitate secure authentication</li>

			<li>Enable smooth payment processing</li>
		</ul>

		<h3>5. Third-Party Cookies</h3>

		<p>
			Some cookies are placed by third-party services that appear on our
			pages. We do not control the dissemination of these cookies. You
			should check the third-party websites for more information about
			these cookies.
		</p>

		<p>
			a) Authentication Providers: We use third-party authentication
			providers, such as Google, to offer you a seamless login experience.
			These providers may set cookies to identify you and maintain your
			login session.
		</p>

		<p>
			b) Payment Processors: We use third-party payment processors, such
			as Stripe, to handle financial transactions securely. These
			processors may use cookies to ensure the security and functionality
			of the payment process.
		</p>

		<h3>6. Managing Cookies</h3>

		<p>
			Most web browsers allow you to control cookies through their
			settings preferences. However, limiting cookies may affect your
			experience of our website. To learn more about cookies and how to
			manage them, visit www.aboutcookies.org or www.allaboutcookies.org.
		</p>

		<h3>7. Changes to This Policy</h3>

		<p>
			We may update this Cookie Policy from time to time. We will notify
			you of any changes by posting the new Cookie Policy on this page and
			updating the “Effective Date” at the top.
		</p>

		<h3>8. Contact Us</h3>

		<p>
			If you have any questions about this Cookie Policy, please contact
			us at: contact@hcdigitalsolutions.com
		</p>
	</div>
{% endblock content %}
