{% set page_title = "Documentation" %}
<!--  -->
{% extends "public/layouts/base.html" %}
<!--  -->
{% block content %}
	<div class="container my-5">
		<div class="row">
			<div class="col-md-8">
				<h1 class="h2">Documentation</h1>
				<p class="fs-5">Content of the documentation page</p>
			</div>
			<div class="col-md-4">
				<h1 class="h2">API Reference</h1>
				<p class="fs-5">
					See our
					<a
						href="https://documenter.getpostman.com/view/39218943/2sB3QDxDUr"
						target="_blank"
						>API reference</a
					>
					for example requests and responses.
				</p>
			</div>
		</div>
	</div>
{% endblock content %}
